img {
	background-image: url(/images/empty.png); /* Путь к фоновому рисунку */
	background-position: center center; /* Положение фона */
	background-repeat: no-repeat; /* Отменяем повторение фона */
}
.poster-big{
	width: 350px;
	height: 400px;
}
.poster-small{
	width: 150px;
	height: 200px;
}